* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  position: fixed;
  width: 100%;
  /* background-color: rgb(230, 218, 206); */
  background-color: white;
  box-shadow: 0 0 20px grey;
  /* padding-right: 5%; */
}

nav ol {
  /* max-width: 1420px; */
  margin: 0 auto;
  list-style: none;
}
nav ol li {
  float: right;
}

nav ol li a {
  line-height: 70px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  border-right: 2px solid rgb(172, 161, 151);
  transition: 0.2s;
}

nav ol li a:hover {
  color: rgb(172, 161, 151);
}

h1:hover {
  color: rgb(172, 161, 151);
}

nav ol li:nth-child(1) a {
  border-style: none;
}

section {
  background-color: white;
  padding: 5% 5%;
}
/* Sekcja witaj */
main > section:first-child {
  padding-right: 15%;
  /* min-height: 80%; */
  font-size: 30px;
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120vh;
  background-color: white;
}
.start {
  margin-right: 20%;
  margin-left: 8%;
}
h1 {
  flex-grow: 1;
  margin: 20px 0;
}

div img {
  width: 210px;
  margin: 20px 30px 100px 30px;
  border-radius: 100%;
}

div.border {
  height: 50vh;
  min-height: 400px;
  /* width: max-content; */
  padding-bottom: 180px;
  background-color: rgb(172, 161, 151);
  box-shadow: 0 0 20px grey;
}

.github,
.linkedin,
.email,
.phone {
  width: 25px;
  height: 25px;
  margin: 15px;
}

div.border ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: white;
}
.experience {
  margin: 20px auto;
  width: 60%;
  min-width: 1420px;
  height: 50vh;
}
h2 {
  font-size: 30px;
}

.experience li {
  padding-top: 20px;
}

.projects,
.certificates {
  margin: 10px auto;
  width: 60%;
  min-width: 1420px;
  height: 50vh;
}

.certificates li {
  padding-top: 20px;
}

.resume {
  margin: 10px auto;
  width: 60%;
  min-width: 1420px;
  height: 50vh;
}

footer {
  background-color: rgb(172, 161, 151);
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
